/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Default CSS */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: sans-serif;
  color: black;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  color: black;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;  
}

.attraction-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fdeaea;
    justify-content: center;
    padding: 72px;
}

.attraction-images .images{
    width: 25%;
    margin: 20px 2.5%;
    height: 100%;
}

.attraction-images h3 {
    color: black;
    text-align: center;
}

.attraction-images .images img {
      width: 100%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
}


.visit-africa {
    margin-top: 60px;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
}

.visit-africa .visit-text {
    width: 50%;
}

.visit-africa .visit-text h3 {
    margin-bottom: 10px;
  }

.visit-africa .visit-form {
    width: 46%;
      margin-left: 4%;
}