/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Default CSS */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: sans-serif;
  color: black;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  color: black;
  font-weight:700;
}

h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;

}

h3 {
  font-size: 2rem;

}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;  
}

.attraction-images {
    display: flex;
    flex-wrap: wrap;
    width: 1500px;
    background-color: #fdeaea;
    justify-content: center;
    padding: 72px;
}

.attraction-images .images{
    width: 25%;
    margin: 20px 2.5%;
    height: 100%;
}

.attraction-images h3 {
    color: black;
    text-align: center;
}

.attraction-images .images img {
      width: 100%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
}


.visit-africa {
    margin-top: 60px;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.visit-africa .visit-text {
    width: 50%;
}

.visit-africa .visit-text h3 {
    margin-bottom: 10px;
    margin-left: 60px;
  }
.visit-africa .visit-text p{
  margin-top: 20px;
  line-height: 1.8;

  }

.visit-africa .visit-form {
    width: 46%;
    margin-left: 15%;
}
.visit-africa .visit-form h3{
  margin-bottom: 20px;

}
form input {
  margin-bottom: 20px;
  width: 330px;
  height: 45px;
  border:3px solid rgb(241, 241, 241);
  border-radius: 7px ;
}
.visit-africa .visit-form button{
  width: 160px;
  height: 40px;
  margin-left: 80px;
  border-radius: 10px ;
  border: white;
  font-weight:700;
  background-color: rgb(224, 108, 31);
}
.visit-africa .visit-text button{
  width: 160px;
  height: 40px;
  margin-left: 100px;
  margin-top: 20px;
  border-radius: 10px ;
  border: white;
  font-weight:700;
  background-color: rgb(224, 108, 31);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}


li {
  float: right;
  margin-top: -50px;
  margin-bottom: 25px;
  margin-left: -2px;
}

li a {
  display: flex;
  color: rgb(87, 87, 87);
  text-decoration: none;
  text-align: center;
  margin-right: 30px;
  padding-bottom: 30px;

}
 nav img{
  width: 200px;
  height: 90px;
}
.intro img{
  width:1500px;
  height: 500px;

}
footer{
  color: white;
  background-color: rgb(126, 27, 27);
  text-align: center;
  font-weight:700;
  

}
@media only screen and (max-width: 500px) {
.attraction-images, .visit-africa, .visit-africa, form input , li,  nav img,.intro img,footer{
  width: 1200px;
}


 }

