/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Default CSS */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: sans-serif;
  color: black;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  color: black;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;  
}

.attraction-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fdeaea;
    justify-content: center;
    padding: 72px;
}

.attraction-images .images{
    width: 25%;
    margin: 20px 2.5%;
    height: 100%;
}

.attraction-images h3 {
    color: black;
    text-align: center;
}

.attraction-images .images img {
      width: 100%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
}


.visit-africa {
    margin-top: 60px;
    padding: 50px 60px;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction:row ;
    justify-content: center;
}

.visit-africa .visit-text {
    width: 40%;
}

.visit-africa .visit-text h3,
 .sign-up {
    margin-bottom: 7%;
    font-size: large;
    font-weight: 800;
  }

.visit-africa .visit-form {
    width: 47%;
      margin-left: 7%;
}


/* my begins here */
.images-title h2{
  text-align: center;
  margin: 20px;
}
.nav-bar{
  width:80% ;
  margin: auto;
}

.max-widith-nav{
  display: flex;
  flex-direction: row;
justify-content: space-between;
}
.list-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.list-group li a {
  margin-left: 3rem;
  text-decoration: none;
  color: #000;
  font-size: larger;
  font: 1.5em sans-serif;
  letter-spacing:2px;
  font-weight: 400;
}
.list-group span {
font-weight: 700;
}

.intro{
  width: 100%;
  height: auto;
  
}
.hero-img{
  width: 100%;
  margin: auto;
}
.hero-img img {
  width: 100%;
  
  margin-top: 50px;
  background-size: auto;
  background-size: 100%;
}
.visit-africa{
  background:white;
}

form{
  display: flex;
  flex-direction: column;
  width: 60%;
  
}

.input-text{
  width: 100%;
  padding: 0.9rem;
  margin: 0.9rem;
  border-radius: 5px;
  outline: none;
  border: 2px solid grey;
}
.input-sub{
 width: 50%;
 margin: auto;
 margin-top: 10px;
 padding: 1.3rem;
 border-radius: 8px;
 outline: none;
 border: none;
background-color: rgb(207, 125, 87);
}
.btn{
  background-color: rgb(207, 125, 87);
  width: 40%;
  margin: auto;
 margin-top: 15px;
 padding: 1.5rem;
 border-radius: 8px;
 outline: none;
 border: none;
 text-align: center;
}
footer p{
  
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: rgb(71, 5, 19);
  color: white;
  font-weight: 600;
}


@media all and (max-width:1160px){
  .max-widith-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }

  .attraction-images {
    display: flex;
    flex-direction: column;
    
}

.attraction-images .images{
  margin-left: 30%;
  
}
  .list-group li a{
 padding: 20px;
   
  }
  .visit-africa{
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    
  }
  .visit-form{
    
  }


}





