/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Default CSS */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  font-family: sans-serif;
  color: black;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  color: black;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}
/* navigation */

.hero {
  
  width: 100%;
  background-position: center;
  background-size: cover;
  padding-left: 39px;
  padding-right: 39px;
  box-sizing: border-box;
}
nav {
  display: flex;
  float: right;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  margin-bottom: 15px;
}
nav ul li a {
  float: right;
  margin-right: 75px;
  padding-left: 2px;
  margin-top: -15px;

}
.logo {
  width: 150px;
  padding: 10px 15px;
  margin-left: 100px;
  margin-top: 30px;
}
nav ul {
  flex: 1;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 25px;
}
nav ul li a {
  color:black;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

/* hero image */
.hero-image {
  width: 100%;
  margin-bottom: 15px;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;  
}

.attractions h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 15px;

}

.attraction-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fdeaea;
    justify-content: center;
    padding: 72px;
}

.attraction-images .images{
    width: 25%;
    margin: 20px 2.5%;
    height: 100%;
}

.attraction-images h3 {
    color: black;
    text-align: center;
}

.attraction-images .images img {
      width: 100%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
}


.visit-africa {
    margin-top: 60px;
    padding: 50px 60px;
    display: flex;
    justify-content: center;
}

.visit-africa .visit-text {
    width: 50%;
}

.visit-africa .visit-text h3 {
    margin-bottom: 10px;
  }

.visit-africa .visit-form {
    width: 46%;
      margin-left: 4%;
}

/* forms */
.visit-africa {
  margin-left: 10px;
  margin-top: 10px;
}

.visit-text h3  {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.visit-text p {
  font-size: 15px;
  letter-spacing: 1px;
  line-break: auto;
}

.btn {
  width: 200px;
  height: 50px;
  background-color: #DA7130;
  display: block;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 75px;
  

}

.btn h2 {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 22px;
}

input {
  padding: 20px;
  height: 25px;
  width: 300px;
  display: block;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #EBEBEB;
}

.submit {
  height: 40px;
  width: 200px;
  display: block;
  background: #DA7130;
  font-size: 30px;
  border: none;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  margin-left: 40px;

}
form h2 {
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 20px;
}

/* footer */

footer {
  width: 100%;
  height: 5%;
  background: #55110E;
  color: white;
  text-align: center;
  margin-top: 2rem;
  padding: 1.5rem 2rem;

}

@media (max-width:500px) {
  nav {
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    margin-bottom: 15px;
  }
  .log {
    margin: 0 0 0 2rem;
    align-items: center;
 
  }

  nav ul li a{ 
    float: right;
    margin-right: 75px;
    padding-left: 2px;
    margin-top: -15px;
  
  }

  .attractions {
    height: auto;
    flex-direction: column;
  }
  .attraction-images {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .attraction-images .images {
    width: 80%;  
  }

  .attraction-images .images h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .visit-africa {
    flex-direction: column;
    padding: 15px;
    align-items: center;

  }
  .visit-africa .visit-text {
    margin-bottom: 20px;
  }
  .visit-text h3 {
    font-size: 13px;
    justify-content: space-around;
    display: inline-block;
  }

  .visit-text p {
    font-size: 15px;
    line-height:19px;
    
  }

  .btn {
    margin-bottom: 15px;
    margin-left: 5px;
    }
  .btn h2 {
    font-size: 15px;
  }

  .visit-form h2 {
    font-size: 12px;
    font-weight: 700;
  }
}